<h3><%= @user.name %>がフォローしている人たち</h3>
<% @user.followed_users.each do |followed_user| %>
  <div class="user-img">
   <%= profile_img(followed_user) %>
  </div>
  <p><%= followed_user.name %></p>
<% end %>
